@page "{id:int}"
@model ContosoCrafts.WebSite.Pages.Recipes.ReadModel
@if (Model.RecipeNotFound)
    {
    <p>Error: The requested recipe was not found.</p>
    }
    else
    {
ViewData["Title"] = "Recipe page";

<div class="container">
    <div class="row justify-content-end">
        <a  asp-page="Delete" asp-route-id="@Model.Recipe.RecipeID" class="btn btn-danger">Delete</a>
        <a asp-page="./Update" asp-route-id="@Model.Recipe.RecipeID" class="btn btn-primary">Update</a>
    </div>
</div> 
<h1>@Model.Recipe.Title</h1>
<div class="container" style="background">
    <div class="row justify-content-center">
        <figure class="figure">
            @*CJH - Included css variable class (--img-height-500px) to set the max height for the images used on recipe pages
                img-recipe-page is the class used in site.css *@
            <img src="@Model.Recipe.Image" class="figure-img img-fluid rounded img-recipe-page" alt="Image of @Model.Recipe.Title">
            <figcaption class="figure-caption">@Model.Recipe.ImageCaption</figcaption>
            @*To be expanded to include additional recipe information*@
        </figure>
    </div>
    <h5>Description</h5>
    <div class="row">
        <div class="col-md-8">
            <p>@Model.Recipe.Description</p>
        </div>
    </div>
    <h5>Ingredients</h5>
    <div class="row">
        <ul>
            @foreach (var ingredient in Model.Recipe.Ingredients)
                {
                <li>@ingredient</li>
                }
        </ul>
    </div>
    <h5>Instructions</h5>
    <div class="row">
        <ol class="instruction-font">
            @foreach (var instruction in Model.Recipe.Instructions)
                {
                <li>@instruction</li>
                }
        </ol>
    </div>
</div>
<div class="clear">
</div>
<h5>Comments</h5>
    <div class="row">
        <div class="col-md-8">
            @if (Model.Recipe.Comments == null || !Model.Recipe.Comments.Any())
            {
                <p>There are no comments yet. Add one below if you want!</p>
            }
            else
            {
                foreach (var comment in Model.Recipe.Comments)
                {
                    <div class="card mb-3">
                        <div class="card-body">
                            <h5 class="card-title">@comment.FirstName @comment.LastName</h5>
                            <p class="card-text">@comment.Comment</p>
                        </div>
                    </div>
                }
            }
        </div>
    </div>

    <h5>Add a Comment</h5>
    <form method="post">
        @Html.HiddenFor(x => x.Recipe.RecipeID)
        @Html.HiddenFor(x => x.Recipe.Title)
        @Html.HiddenFor(x => x.Recipe.Instructions)
        @Html.HiddenFor(x => x.Recipe.Ingredients)
        @Html.HiddenFor(x => x.Recipe.Image)
        <div class="form-group">
            <label for="firstName">First Name</label>
            <input type="text" class="form-control" id="firstName" name="NewComment.FirstName" required />
        </div>
        <div class="form-group">
            <label for="lastName">Last Name</label>
            <input type="text" class="form-control" id="lastName" name="NewComment.LastName" required />
        </div>
        <div class="form-group">
            <label for="comment">Comment</label>
            <textarea class="form-control" id="comment" name="NewComment.Comment" rows="3" required></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    }