@page "{id:int}"
@model ContosoCrafts.WebSite.Pages.Recipes.UpdateModel
@{
    ViewData["Title"] = "Update recipe page";
}

<h1>Update Recipe</h1>

<div class="container">
    <form id="update-form" method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        @Html.HiddenFor(r => r.Recipe.RecipeID)

        <div class="form-group">
            <label asp-for="@Model.Recipe.Title" class="control-label">Recipe Title</label>
            <input asp-for="@Model.Recipe.Title" class="form-control" />
            <span asp-validation-for="@Model.Recipe.Title" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="@Model.Recipe.Description" class="control-label">Description</label>
            <input asp-for="@Model.Recipe.Description" class="form-control"></>
            <span asp-validation-for="@Model.Recipe.Description" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="@Model.Recipe.Image" class="control-label">Image URL</label>
            <input asp-for="@Model.Recipe.Image" class="form-control" />
            <span asp-validation-for="@Model.Recipe.Image" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="@Model.Recipe.Ingredients" class="control-label">Ingredients</label>
            <div style="max-height: 200px; overflow-y: auto;">
                @for (int i = 0; i < Model.Recipe.Ingredients.Length; i++)
                {
                    <input asp-for="@Model.Recipe.Ingredients[i]" class="form-control" />
                    <span asp-validation-for="@Model.Recipe.Ingredients[i]" class="text-danger"></span>
                }
            </div>
        </div>

        <div class="form-group">
            <label asp-for="@Model.Recipe.Instructions" class="control-label">Instructions</label>
            <div style="max-height: 200px; overflow-y: auto;">
                @for (int i = 0; i < Model.Recipe.Instructions.Length; i++)
                {

                    <input asp-for="@Model.Recipe.Instructions[i]" class="form-control" />
                    <span asp-validation-for="@Model.Recipe.Instructions[i]" class="text-danger"></span>
                }
            </div>
        </div>

        <button type="submit" class="btn btn-danger" onclick="return confirm('Are you sure you want to update this recipe?')">Update</button>
    </form>
</div>

@section Scripts {
    <script>
        function confirmUpdate() {
            var result = confirm("Are you sure you want to update this recipe?");
                if (result) {
                    document.getElementById("update-form").submit();
                }
        }
    </script>

    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

